/* src/styles/HeroSection.css */
.hero-section {
  background-color: rgba(244,237,210,255); /* Navy background */
  color: gold; /* Gold text */
  text-align: center;
  padding: 60px 20px; /* Increase padding to make the section bigger */
}

.hero-section h1 {
  color: #785b2d;
  margin-bottom: 20px;
}

.hero-section p {
  color: #785b2d;
  margin-bottom: 40px;
}

.hero-section button {
  background-color: #785b2d;
  color: #F2F3AE;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-section button:hover {
  background-color: darkgoldenrod;
}
